@font-face {
    font-family: "Libre Baskerville";
    src: url("fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

.icons {
    padding: 0 1rem;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
    color: #202124;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    line-height: 1.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: 100%;
    margin: 0;
    line-height: 1.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.action-list-2 span {
    position: relative;
    font-size: 1.1rem;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}


.action-list-2 a {
    display: inline-block;
    text-decoration: none;
}

.nav-wrapper.bottom {
    display: none;
}

.nav-wrapper {
    display: inline-block;
}

.nav-wrapper.top .navbar {
    width: 100%;
    position: relative;
    height: 3rem;
    z-index: 50;
}

.nav-wrapper.top .navbar.fixed {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
}

.nav.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    padding: 0 4.1rem 0 4.1rem;
    top: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    width: inherit;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 0.4rem grey;
    height: inherit;
}

#bottom-nav-panel {
    display: none;
}

.nav div {
    padding: 0 1.2rem;
    flex-grow: 1;
    flex-shrink: 0;
}

#PageTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1.25rem;
    position: relative;
    flex: 1;
    font-size: 1.2rem;
}

#PageTitle a {
    text-decoration: none;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
}

hr {
    border: 1px solid black;
    margin: 0 auto 1rem;
    width: 50px;
}

#PageTitle a {
    text-decoration: none;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
}

#sitewrapper {
    padding: 0 5rem 0 5rem;
    min-height: 100%;
    display: block;
}

#QouteFormContainerOuter {
    display: none;
    position: fixed;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, .5);
}

#InnerContainerCancel {
    margin-left: auto;
    cursor: pointer;
}

#successful-msg {
    display: none;
}

#successful-msg.show {
    display: block;
    z-index: 10000000;
    background-color: #323232;
    color: white;
    text-align: center;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
}

#contact-form.hide :not(#successful-msg) {
    display: none;
}

#contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 50vw;
    max-width: 32rem;
    background-color: white;
    min-width: 11rem;
}

#gallery {
    position: relative;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
}

.gallery-blocks {
    display: inline-block;
    position: relative;
    height: 30vw;
    width: 30vw;
    padding: 0.5rem;
    box-sizing: border-box;
    flex-grow: 1;
}

.gallery-images {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#contact-form>* {
    width: 90%;
    max-width: 30rem;
    min-width: 10rem;
    margin: 0;
    box-sizing: border-box;
    margin: 0 1.5rem;
    padding: 0.4rem;
    text-align: left;
}


input:focus textarea:focus {
    background-color: gray;
}

#contact-form>input,
#contact-form>textarea,
.g-recaptcha {
    border: none;
    border-bottom: 0.1rem inset gray;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    height: fit-content;
    outline: none;
}



#InnerContainerHeader {
    max-width: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: center;
}

#InnerContainerHeader>div>span {
    white-space: nowrap;
}

#InnerContainerHeader>div {
    padding: 1rem 0 0 0;
}



#CancelForm {
    font-size: 1.2rem;
}

#submitbtn {
    margin: 1.5rem;
    max-width: 3rem;
    min-height: 2rem;
    background: #4285f4;
    border: 0;
    text-transform: uppercase;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: white;
    cursor: pointer;
    text-align: center;

}

#message {
    height: 3rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: visible;
    overflow-x: hidden;
}

.wholepage {
    padding-top: 4rem;
}

.header-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8rem;
}


.header-panel div {
    width: 100%;
}

.opening-hours {
    margin-bottom: 1.5rem;
}

.default-button a {
    background-color: rgb(72, 72, 127);
    padding: 1.2rem 3.5rem;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#hamburger {
    padding: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
}

#Handy-title {
    margin-bottom: 1rem;
    color: rgb(72, 72, 127);
}

.upper-header {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

#Handy-title>span {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1rem;
    margin: 0 0 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Libre Baskerville", serif;
}

#about-us {
    margin-bottom: 2.5rem;
    background-color: rgba(247, 247, 247, 0.613);
    padding: 1rem;
    box-sizing: border-box  ;
}

#about-us>p {
    padding: 2.4rem;
    text-align: justify;
}

@media (min-width: 680px) {

    .gallery-blocks {
        flex: 1 1 50%;
        max-height: 45vw;
        max-width: 45vw;
    }
}

@media (min-width: 992px) {

    .gallery-blocks {
        flex: 1 1 32%
    }

    #about-us {
        padding: 6rem;
    }


}




@media screen and (max-width: 680px) and (min-width: 1px) {

    html,
    body {
        font-size: 11px;
    }

    .upper-header {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .default-button a {
        padding: 1.2rem 2rem;
    }

    div.action-list-2 {
        display: none;
    }

    #contact-form {
        width: 75vw;
    }

    #gallery {
        flex-direction: column;
    }

    .gallery-blocks {
        width: 100%;
        height: 30rem;
    }

    #contact-form>*:not(#InnerContainerHeader) {
        width: 90%;
    }

    div.action-list-2.bottom {
        display: inline-block;
    }

    #sitewrapper {
        padding: 0 18px 56px 18px;
    }

    .nav-wrapper.bottom {
        display: inline-block;
    }

    .nav-wrapper.bottom .navbar {
        width: 100%;
        position: relative;
    }

    .nav-wrapper.bottom .navbar.fixed {
        position: fixed;
        z-index: 100;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .nav.bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        white-space: nowrap;
        align-items: center;
        bottom: 0;
        left: 0;
        position: fixed;
        box-sizing: border-box;
        width: inherit;
        text-align: center;
        background-color: white;
        box-shadow: 0 0 5px grey;
        height: inherit;
        width: 100%;
        box-shadow: 0 0 5px 0 gray;
    }

    .header-panel {
        margin-bottom: 48px;
    }

    .nav.bottom,
    .nav.top {
        justify-content: left;
        text-align: left;
    }

    .nav.top {
        padding: 0 1rem;
    }

    #InnerContainerHeader>* {
        text-align: left;
        overflow: hidden;
    }

    #InnerContainerHeader>div>span {
        margin: unset;
    }

    .nav.bottom div.box {
        flex: 1;
        position: relative;
        overflow: hidden;
        text-overflow: clip;
        height: 56px;
    }

    .nav.bottom div.box a {
        display: flex;
        flex-direction: column;
        text-size-adjust: 100%;
        font-size: 0.75rem;
        align-items: center;
        text-decoration: none;
    }

    .nav.bottom div.box span {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding-top: 9px;
        line-height: 17px;
    }

    .nav.bottom div.box span.text {
        font-weight: 700;
        font-size: 1rem;
    }

    .lower-header {
        order: -1;
    }

}

#header-image {
    background-size: cover;
    box-sizing: border-box;
}

img {
    overflow: clip;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

#header-image * {
    display: inline-flex;
    height: auto;
    align-items: center;
}

#email {
    word-wrap: break-word;
}

address {
    font-size: 1.25rem;
}


a {
    color: rgb(72, 72, 127);
    text-decoration: none;
}

@media screen and (max-width: 206px) and (min-width: 1px) {

    html,
    body {
        font-size: 8px;
    }
}

.side-list-item {
    padding: 2.5rem 0 0 3.5rem;
}

.side-link {
    padding: 1rem;
    font-size: 1.5rem;
    white-space: nowrap;
}

#side-bar {
    opacity: 0;
    position: absolute;
    transform: translateX(-105%);
    transition: transform 0.25s, opacity 0.25s;
    top: 3rem;
    left: 0;
    right: auto;
    box-shadow: 0 0 0.4rem grey;
    background: white;
    max-width: 75%;
    height: 100%;
    width: 15rem;
    -webkit-transition: transform 0.25s, opacity 0.25s;
}

#side-bar.is-active {
    transform: none;
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition: transform 0.5s, opacity 0.5s;
}

#contact-us div {
    margin-bottom: 3rem;
}

#contact-us-map>iframe {
    width: 100%;
    height: 30rem;
}

#contact-us a {
    margin-bottom: 1rem;
}

h3 {
    margin: 0 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

th {
    text-align: inherit;
    font-weight: bold;
}